<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.share.platform.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.file.share.platform.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="review_user_id" jdbcType="INTEGER" property="reviewUserId"/>
    <result column="b_review_user_id" jdbcType="INTEGER" property="bReviewUserId"/>
    <result column="file_id" jdbcType="INTEGER" property="fileId"/>
  </resultMap>
  <select id="findCommentByParentId" resultMap="BaseResultMap">
    select * from comment
    where parent_id = #{parentId,jdbcType=INTEGER}
  </select>
</mapper>