<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.share.platform.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.file.share.platform.model.File">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="uploador" jdbcType="VARCHAR" property="uploador" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="down_num" jdbcType="INTEGER" property="downNum" />
    <result column="file_type" jdbcType="INTEGER" property="fileType" />
    <result column="file_note" jdbcType="LONGVARCHAR" property="fileNote" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="orgin_file_name" jdbcType="VARCHAR" property="orginFileName" />
  </resultMap>
  <sql id="Base_Column_List">
    id,file_name,uploador,create_time,update_time,down_num,file_type,file_note,orgin_file_name
  </sql>
  <select id="findFileByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from file
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
</mapper>