<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.share.platform.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.file.share.platform.model.Subject">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="choice_num" jdbcType="INTEGER" property="choiceNum" />
    <result column="judge_num" jdbcType="INTEGER" property="judgeNum" />
    <result column="choice_score" jdbcType="INTEGER" property="choiceScore" />
    <result column="judge_score" jdbcType="INTEGER" property="judgeScore" />
    <result column="all_score" jdbcType="INTEGER" property="allScore" />
  </resultMap>
</mapper>