<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.share.platform.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.file.share.platform.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="passwrod" jdbcType="VARCHAR" property="passwrod" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="token" jdbcType="VARCHAR" property="token"/>
  </resultMap>
  <sql id="Base_Column_List">
        id,role,user_name,password,age,email,create_time,update_time,account_number
  </sql>
  <select id="findByAccountNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where account_number = #{accountNumber,jdbcType=VARCHAR}
  </select>

  <select id="findByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where token = #{token,jdbcType=VARCHAR}
  </select>
</mapper>